body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #333;
    line-height: 1.6;
}
.header {
    background-image: url("img/dev.png");
    background-size: cover;
    background-repeat: none;
    background-position: center;
    min-height: 360px;
}
.about {
    text-align: center;
    background-color: #e2e2e2;/*Блоку about задайте внутренний отступ в 20px, фоновый цвет #e2e2e2, размер шрифта 1.25rem и выравнивание по центру.*/
    padding: 20px;
    font-size: 1.25rem;
    text-align: center;
    background-image: url("img/prog1.png");
    background-size: cover;
    background-repeat: none;
    background-position: center;
    color: #c9e60b;
}
.title {
    margin: 0;
    font-size: 4rem;
    font-weight: 700;
    color: #c9e60b;
  }
  
.title + p {
    font-size: 2rem;
    margin: 10px 0;
    color: #c9e60b;
  } 
.about img {
    height: 200px;
}
.skills {
    padding: 20px;
    text-align: center;
    color:rgb(255, 238, 0);
    background-image: url("img/fon1.jpg");
    background-size: cover;
    background-repeat: none;
}
.slills_list {
    list-style: none;
    padding: 0;
}
.skills_item {
    padding: 15px;
    display: inline-block;
    background-color: #e2e2e2;
}
.skills__type-name {
    display: block;
    margin-top: 10px;
    font-size: 1.5rem;
}
.skills__type {
    display: inline-block;
    width: 112px;
    height: 144px;
    background-image: url("img/sprite.png");
    background-size: cover;
    background-repeat: none;
}
.skills__type_html {
    background-position: 0 0;
  }
  
.skills__type_css {
    background-position: -112px 0;
  }
  
.skills__type_js {
    background-position: -224px 0;
  }
.contacts {
    padding: 20px;
    background-color: #333;
    color: #fff;
    background-image: url("img/orig\ \(1\).png");
    background-size: cover;
    background-repeat: none;
}
}
.footer {
    padding: 10px;
    font-size: 0.8rem;
}
ul {
    list-style-type: none;
}
.contacts__address strong {
    color:#00bfff ;
    
}
.contacts__address:hover {
    color:#00bfff ;
    text-decoration: underline;
    
}
.contacts__phone strong {
    color: #ffffff;
    text-decoration: none;
  }
  .contacts__phone a:hover {
    color: #0e27ca;
    text-decoration: underline;
  }
  .contacts__email strong {
    color: #ffffff;
    text-decoration: none;
  } 
  .contacts__email a:hover {
    color: #e7110e;
    text-decoration: underline;
  } 
  .contacts a {
    color: #d9f601;
    text-decoration: none;
}
.contacts a:hover {
    text-decoration: underline;
}